link(rel='shortcut icon', href='favicon.ico')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="stylesheet" href="/dist/plugins/bootstrap/css/bootstrap.css")
link(rel="stylesheet" href="/dist/css/public.css")
script(src='/dist/lib/require.js')
script(src='/dist/customerjs/main.js')
<!--[if lte IE 8]>

<![endif]-->