link(rel='shortcut icon', href='favicon.ico')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.css")
link(rel="stylesheet" href="/dist/css/public.css")
script(src='/dist/lib/require.js')
script(src='/dist/customerjs/main.js')
script(src='/plugins/modernizr.js')
<!--[if lte IE 8]>
    script(src='/plugins/excanvas.js')
    script(src='https://cdn.bootcss.com/respond.js/1.3.0/respond.js')
    script(src='/plugins/PIE_IE678.js')
<![endif]-->
