@import 'imports/variable.less';
.login_left{
    width: 590px;
   margin-right: 158px;
    padding-top: 45px;
}
.login_left,.login_right{
    float: left;
}
.login_right{
    width: 452px;
    border-radius: 6px;
    padding:40px; 
    border: 1px  solid @inputBorderColor;
    box-sizing: border-box;
    .login_right_logo{
        text-align: center;
    }
    .login_right_logo{
        div:first-child{
            height: 80px;
        }
        div:first-child>img{
            width: 80px;
        }
        div:last-child{
            color: @baseColor;
<<<<<<< HEAD
            font-size: 26px;
            margin: 10px 0 20px;
=======
            font-size: 14px;
            margin: 16px 0 20px;
>>>>>>> b0a05c1cf13c16f86b4356de7efa6a2e1a736f15
        }
    }
    .login_right_hint{
        height: 30px;
        border:1px solid #FFBAB8;
        background:#FFE7E6; 
        margin-bottom: 10px;
        font-size: 14px;
        color: #FF5F58;
        display: flex;
        align-items: center;
        span:first-child{
            width: 20px;
            height: 20px;
            margin: 0 7px 0 12px;
        }
    }
    .login_right_name{
        margin-bottom: 20px;
    }
    .login_right_pw{
<<<<<<< HEAD
        margin-bottom: 10px;
    }
    .login_right_select{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        div:last-child{
=======
        margin-bottom: 16px;
    }
    .login_right_select{
        margin-bottom: 40px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        >div:last-child{
>>>>>>> b0a05c1cf13c16f86b4356de7efa6a2e1a736f15
            color: @grayText;
        }
    }
    .login_right_log{
        background: @baseColor;
        text-align: center;
        height: 48px;
        line-height: 48px;
        border-radius: 24px;
        >a{
            font-size:16px;
            color: @buttonColor;
            text-decoration: none;
        }
    }
}
.login-box{
    .i-input-bg{
        width:100%;
    }
}

