
@import 'imports/variable.less';
@import 'imports/mixins.less';
@import 'imports/reset.less';
@import 'imports/global.less';
@import "imports/form.less";



.ly-main{
    width: 1200px;
    padding-top: 12%;
    background: #fff;
    margin: 0 auto;
    .clearFix();
}

@import "register.less";