@import 'imports/variable.less';


// 手机验证 
.register_cont_yz{
    .m_t(); 
}

// 填写企业信息
.register_cont_xx{
    .m_t();
    >p{
        input{
            .w-h(); 
            border-radius:6px;
            border: 1px solid @inputBorderColor;
            padding-left: 14px;
            font-size: 14px;
            box-sizing: border-box;
        }
        .placeholder(@inputTextColor);
        textarea{
            width: 372px;
            box-sizing: border-box;
            border: 1px solid @inputBorderColor;
            padding-left: 14px;
            border-radius:6px;
        }
        .placeholder(@inputTextColor);
    }
}




.page-register{
    .register-form-box{
        >div{
            display: none;
        }
    }
}
