@import 'imports/variable.less';
.register_verify{
    display: flex;
    justify-content: center;
    >div{
        display: flex;
        color: @inputTextColor;
        align-items: center;
        font-weight: 700;
        >b{
            width: 60px;
            height: 2px;
            background: @inputTextColor;
            margin: 0 12px;
        }
        >span{
            width:22px;
            height:22px;
            line-height: 22px;
            border-radius: 50%;
            border:2px solid @inputTextColor;
            text-align:center;
        }
        >label{
            padding-left: 10px;
        }
        
    }
}
div.register_active{  //高亮
        color:@baseColor;
        >b{
            background: @baseColor;
        }
        >span{
            border:2px solid @baseColor;
        }
}
   

// 手机验证 
.register_cont_yz{
    margin-top: 60px;
    text-align:center;
    .login_right_w{
        width: 372px;
        margin:0 auto 14px;
    }
    .register_cont_number{
        input{
            .w-h();
            border: 1px solid @inputBorderColor;
            border-radius: 6px;
            font-size: 14px;
            padding-left: 14px;
            box-sizing: border-box;
        }
        .placeholder(@inputTextColor);
    }
    .register_cont_click{
        padding-top: 20px;
        >button{
            .w-h();
            border: 1px solid @baseColor;
            border-radius: 6px;
            background: #fff;
            font-size: 16px;
            color: @baseColor;
            outline: none;
        }
        .register_cont_click_yz{
            .click_yz_yz{
                display: flex;
                justify-content: center;
                >div:first-child{
                    input{
                        width:242px;
                        height: 40px;
                        border-radius:6px;
                        border: 1px solid @inputBorderColor;
                    }
                    .placeholder(@inputTextColor);
                }
                >div:last-child{
                    margin-left: 10px;
                    >button{
                        width:120px;
                        height: 40px;
                        border-radius:20px;
                        background: #fff;
                        border: 1px solid @inputBorderColor;
                        color: @inputBorderColor;
                        outline: none;
                    }
                }
               
            }
            div.click_yz_active{  //高亮部分
                    >button{
                        border: 1px solid @baseColor !important;
                        color: @baseColor !important;
                    } 
            }
            .click_yz_text{
                font-size: 12px;
                color:@inputBorderColor;
                margin-top: 10px; 
            }
        }
    }
    .register_cont_pw{   //输入密码
        >p:first-child{
            padding-bottom: 20px;
        }
        >p{
            text-align: center;
            >input{
                .w-h();
                border-radius: 6px;
                padding-left: 14px;
                box-sizing: border-box;
            }
            .placeholder(@inputTextColor);

        }
        
    }  
}

// 填写企业信息
.register_cont_xx{
    margin-top:60px;
    text-align: center;
    >p{
        input{
            .w-h(); 
            border-radius:6px;
            border: 1px solid @inputBorderColor;
            padding-left: 14px;
            box-sizing: border-box;
        }
        .placeholder(@inputTextColor);
        textarea{
            width: 372px;
            box-sizing: border-box;
        }
    }
}

// 下一步按钮
.register_next{
    margin: 40px auto 0;
    .w-h();
    text-align: center;
    background: @baseColor;
    border-radius:24px;
    >a{
        color: @buttonColor;
        line-height: 40px;
        text-decoration: none;
    }
}