extends layout/default.pug
block previte-head
  link(rel="stylesheet" href="/dist/css/download_can.css")
block content
    .download_can.ly-main 
        .download_can_f1  
            .f1_left 
                .f1_left_l 
                    img(src="/img/product/product_1.jpg")
                .f1_left_r
                    b 荣耀手环3 标准版
                    div
                        label 作者：
                        b 坏品位
                    div
                        i.icon--1x1
                        i.icon--1x
                        i.icon--1x
                        i.icon--1x
                        i.icon--1x
                    div
                        span 智能穿戴
                        span IT科技
            .f1_right  
                div
                    div
                        i.icon-1x2
                        span 20
                    div
                        i.icon-1x4
                        span 20  
                    div  
                        button 收藏  
                div
                    button 下载调用
        .download_can_f2
            .f2_name 设备信息
            .f3_xs 
                div
                    label 系统：
                    span Android 6.23
                div
                    label 数量：
                    span 6888
            .f3_st 
                div
                    label 设备编号：
                    span 1578698
                div
                    label 提交日期：
                    span 2018.04.03
        .download_can_f3
            div 设备图片
            ul
                li 
                    img(src="/img/product/product_1.jpg")
                li 
                    img(src="/img/product/product_1.jpg")
                li 
                    img(src="/img/product/product_1.jpg")
                li 
                    img(src="/img/product/product_1.jpg")
        .download_can_f4
            div 信息样例
            div Iconfont-国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。Iconfont-国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。Iconfont-国内功能很强大且图标内容很丰富的矢量图标库,提供矢量图标下载、在线存储、格式转换等功能。
                        
