
extends layout/default.pug
block previte-head
  link(rel="stylesheet" href="/dist/css/home.css")
block content
  script.
    require(['/dist/customerjs/pages/home.js'])
  .page-home
    //- 大 banner
    .section-banner
      #banner.section-main
        .viewer-box
          ul.slide-wrap
            li
              a(href="")
                img(src="/img/banner/test1.png")
                .l-upper
                  .l-tool-bar
                    .l-main
                      span.item
                        i.icon-download
                        s 20
                      span.item.item2
                        i.icon-eye
                        s 20
                      button.ic-btn-big.i-outline-primary 收藏
            li
              a(href="")
                img(src="/img/banner/test2.png")
                .l-upper
                  .l-tool-bar
                    .l-main
                      span.item
                        i.icon-download
                        s 20
                      span.item.item2
                        i.icon-eye
                        s 20
                      button.ic-btn-big.i-outline-primary 收藏
            li
              a(href="")
                img(src="/img/banner/test3.png")
                .l-upper
                  .l-tool-bar
                    .l-main
                      span.item
                        i.icon-download
                        s 20
                      span.item.item2
                        i.icon-eye
                        s 20
                      button.ic-btn-big.i-outline-primary 收藏
        ul.panel
          li
            img(src="/img/banner/test1.png")
          li
             img(src="/img/banner/test2.png")
          li
             img(src="/img/banner/test3.png")
    //- 公告
    .section-notice.home-section
        span IONChain币总数：
        span.f-32.bold 45,882.9812
        span  IONChain
    //- 设备
    .section-equipment
      .section-main(data-bind="foreach: equList")
        .card-H(style="display:none;" data-bind="css: {fourth: ($index() +1)%4 == 0}, visible: name")
          .card-hd 荣耀P20 Pro手机
          .card-bd
            .l-progess
              input.dial.hide-tem(type='text' data-readOnly=true value='75' data-linecap="round" data-thickness="0.12" data-width="86" data-fgColor="#26E3E7")
              .l-num.them-em1
                span 85
                s %
            .l-info
              p.info1
                span.tip-color 贡献度：
                span.bold.them-em1.font-nm 8981
                span.them-em2   IONC
              p
                span.tip-color 数量：
                span 50 K
              p
                span.tip-color 在线时长：
                span 9,099.00 h
 

    //- 数据图表
    .section-chart
    //- 广告位
    .section-adv
      img(src="/img/home/adv-bg.png")
      .l-upper
        p 让你的设备加入全球物联网
        a.ic-btn-normal.i-primary 发布设备
    //- 设备，卡片列表
    .section-equipment-card

