extends layout/default.pug
block previte-head
  link(rel="stylesheet" href="/dist/css/articles.css")
block content
  .page-index
    <div class="box demo2">

			<ul class="tab_menu">

				<li class="current">jquery特效</li>

				<li>javascript 特效</li>

				<li>div+css 教程</li>

				<li>html5 教程</li>

			</ul>

			<div class="tab_box">

				<div>

					<ul>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery smartFloat插件制作仿产品列表页默认排序搜索框">jquery smartFloat插件制作仿产品列表页默认排序搜索框</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery 万能float浮动层插件 制作QQ MSN 旺旺在线客服功能">jquery 万能float浮动层插件 制作QQ MSN 旺旺在线客服功能</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery 图片延迟加载插件制作tab选项卡图片异步加载">jquery 图片延迟加载插件制作tab选项卡图片异步加载</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery tab选项卡 ajax选项卡 静态选项卡 鼠标点击选项卡 鼠标滑过选项卡">jquery tab选项卡 ajax选项卡 静态选项卡 鼠标点击选项卡 鼠标滑过选项卡</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery 输入框提示特效、机票预定智能输入提示、火车预定智能输入提示">jquery 输入框提示特效、机票预定智能输入提示、火车预定智能输入提示</a></li>

					</ul>

				</div>

				<div class="hide">

					<ul>

						<li><span>▪</span><a href="http://www.jq22.com/" title="javascript jscolor colorpicker js颜色选择器插件10多种调用颜色方法与取值">javascript jscolor colorpicker js颜色选择器插件10多种调用颜色方法与取值</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="javascript图片特效 网站banner制作焦点图片切换带按钮和固定图标控制图片左右滚动">javascript图片特效 网站banner制作焦点图片切换带按钮和固定图标控制图片左右滚动</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="javascript滚动图片插件支持单排图片上下滚动、图片无缝滚动">javascript滚动图片插件支持单排图片上下滚动、图片无缝滚动</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="js多功能选项卡插件 选项卡自动切换内容图片延迟加载">js多功能选项卡插件 选项卡自动切换内容图片延迟加载</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title=" javascript滚动图片按钮控制图片左右自动滚动"> javascript滚动图片按钮控制图片左右自动滚动</a></li>

					</ul>

				</div>

				<div class="hide">

					<ul>

						<li><span>▪</span><a href="http://www.jq22.com/" title="div+css制作非常实用的24款分页页码css代码">div+css制作非常实用的24款分页页码css代码</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="用div+css3美化制作动画导航特效鼠标滑过动画显示">用div+css3美化制作动画导航特效鼠标滑过动画显示</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="用div+css制作纯CSS下拉菜单，兼容IE6 IE7 IE8及以上 Firefox">用div+css制作纯CSS下拉菜单，兼容IE6 IE7 IE8及以上 Firefox</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="CSS如何定位工程">CSS如何定位工程</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="用div+css制作一个CSS3的简约图标导航菜单">用div+css制作一个CSS3的简约图标导航菜单</a></li>

					</ul>

				</div>

				<div class="hide">

					<ul>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery HTML5 幻灯片插件 用 Canvas 制作类似百叶窗拍摄快门摄影拍摄效果">jquery HTML5 幻灯片插件 用 Canvas 制作类似百叶窗拍摄快门摄影拍摄效果</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="制作CSS3和HTML5的一个单页网站模板">制作CSS3和HTML5的一个单页网站模板</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery 幻灯片切换应用一个HTML5的幻灯片">jquery 幻灯片切换应用一个HTML5的幻灯片</a></li>

						<li><span>▪</span><a href="http://www.jq22.com/" title="jquery 图片滚动特效应用旋转幻灯片使用jQuery和CSS3">jquery 图片滚动特效应用旋转幻灯片使用jQuery和CSS3</a></li>

					</ul>

				</div>

			</div>

		</div>
    
 