extends layout/default.pug
block previte-head
  link(rel="stylesheet" href="/dist/css/retrieve.css")
  script.
    require(['/dist/customerjs/pages/retrieve.js'])
block content
  .page-retrieve#page-retrieve
    .i-step
      div(data-bind="css: {active: step()=='1', finish: step()*1 > 1}")
        span 1
        label 填写账号
      div(data-bind="css: {active: step()=='2', finish: step()*1 > 2}")
        b
        span 2
        label 账号验证
      div(data-bind="css: {active: step()=='3', finish: step()*1 > 3}")
        b
        span 3
        label 设置新密码
      div(data-bind="css: {active: step()=='4', finish: step()*1 > 4}")
        b
        span 4
        label 完成
    ul.retrieve-form-box
      li.retrieve-step1.retrieve_cont_zh(data-bind="css: {active: step()=='1'}")
        .sms-step
          .sms-step-item.register_cont_number(data-bind="css: {active: smsStep()=='1'}")
            .error-msg(data-bind="css: { show: errorMsg1()}")
              span.icon
                img(src='/img/icon/error.svg', alt='')
              span(data-bind='text: errorMsg1')
            //- 请输入手机号
            .register_cont_number
              input(placeholder='请输入手机号' data-bind="textInput: mobile")
            .register_cont_click
              button(data-bind='click: smsNextStep') 点击按钮进行验证
          .sms-step-item(data-bind="css: {active: smsStep()=='2'}")
            .prevent-robot-wrapper
              #captcha(style='position: relative')
      //- 手机验证码
      li.retrieve-step2.retrieve_cont_yz(data-bind="css: {active: step()=='2'}")
        .login_right_hint.login_right_w
          span
            img(src='/img/icon/error.svg', alt='')
          span {{ errors.first('code') }}
        //- 请输入手机号
        .register_cont_number
          input(placeholder='请输入手机号' data-bind="value: mobile")
        .register_cont_click_yz
          .click_yz_yz(data-bind="visible: isShowSMScodeInput()")
            div
              input(type='text', placeholder='手机验证码' data-bind="textInput: code")
            div
              button(data-bind="text: secondsLeft() + 's后重新获取',visible: !sendEnable()")
              button.click_yz_cx(data-bind="css:{show: sendEnable}, click:getSmsCode") 重新获取
          .click_yz_text(style="display:none" data-bind="visible: isSendSmsSuccess") 校验码短信已发送到你的手机上，有效时间为10分钟，请及时查收。
        //- 下一步按钮
        button.i-button(data-bind="click: nextStep") 下一步
      //- 设置密码
      li.retrieve-step3.retrieve_cont_sz(data-bind="css: {active: step()=='3'}")
        //- 输入密码
        .register_cont_pw
          .error-msg(data-bind="css: {show: !!passwordValidMsg()}")
            span.icon
              img(src='/img/icon/error.svg', alt='')
            span(data-bind="text: passwordValidMsg")
          p
            input(placeholder='请输入密码' type="password" data-bind="textInput: password")
          p
            input(placeholder='确定密码' type="password" data-bind="textInput: password_confirmation")
        //- 下一步按钮
        button.i-button(data-bind="click: nextStep") 下一步
      //- 设置完成
      li.retrieve-step4.register_cont_wc(data-bind="css: {active: step()=='4'}")
        div
          img(src='/img/icon/succeed.svg', alt='')
        div 密码设置成功!
        .register_next
          button.i-button(data-bind="click: gotoLogin") 完成