extends ./layout.pug
block user-content
    script.
        require(['/dist/customerjs/pages/user.js'])
    .account.release 
        .account_photo 头像
        button.account_select.ic-btn-big 选择图片
        .account_text 选择你喜欢的图片：格式为JPG,PNG,GIF, 大小不超过5MB
        form.ic-form.of-hide.account_form
            .ic-form-item
                label 昵称 
                .input-wrap
                    input.ic-input-big(placeholder="请输入您的昵称")
                    span.input-append.tip-status 0/80
            .ic-form-item
                label 姓名 
                .input-wrap
                    input.ic-input-big(placeholder="请输入您的姓名")
                    span.input-append.tip-status 0/10
            .ic-form-item
                label 手机号 
                .input-wrap
                    input.ic-input-big(placeholder="请输入您的手机号")
                    span.input-append.tip-status 0/11
            .ic-form-item
                label 公司 
                .input-wrap
                    input.ic-input-big(placeholder="请输入您所在的公司")
                    span.input-append.tip-status 0/80
            .ic-form-item
                label 职位 
                .input-wrap
                    input.ic-input-big(placeholder="请输入您的职位")
                    span.input-append.tip-status 0/80
        .c-tool-bar
            button.ic-btn.i-primary 提交
            button.ic-btn.i-outline 取消