extends ./layout.pug
block user-content
    script.
        require(['/dist/customerjs/pages/user.js'])
    .release 
        .release_nav 
            a(href="#").active 设备
        ul.release_content(data-bind="foreach: userList")
            li(style="display:none;" data-bind="css: {second: $index() % 2 == 1}, visible: name")
                .cont_f1
                    div 
                        img(src="/img/product/product_1.jpg")
                    div 
                        .f1_name 荣耀手环3 标准版
                        p
                            label 系统：
                            span Android 6.23
                        p
                            label 设备编号：
                            span 1578698
                        p
                            label 数量：
                            span 157
                        p
                            label 提交日期：
                            span 2018.04.03
                .cont_f2 样例完整度
                .cont_f3 
                   #scheduleX
                .cont_f4
                    span 智能穿戴
                    span IT科技
                .cont_f5
                    .good
                        i.icon-light-star
                        i.icon-gray-star
                        i.icon-gray-star
                        i.icon-gray-star
                        i.icon-gray-star
                    .look.collect_look
                        i.icon-eye
                        span 20
                    .down.collect_down
                        i.icon-download
                        span 20
                    