extends ./layout.pug
block user-content
    script.
        require(['/dist/customerjs/pages/user.js'])
    .comp.release 
        .comp_text
            textarea(data-bind="textInput: feedback", row="5" style="height:400px;resize:none" placeholder=i18n.__("请输入您的反馈对我们非常重要，如果您的建议被系统采用认可，将会获得10枚ION奖励..."))
            span 0/1000
        .comp_tj
            button.ic-btn.i-primary(data-bind="click: feedbackClick") #{i18n.__("提交")}