extends ./layout.pug
block user-content
    script.
        require(['/dist/customerjs/pages/user.js'])
    .comp.release 
        .comp_text
            textarea(data-bind="textInput: feedback", row="5" style="height:400px;resize:none" placeholder=i18n.__("feedback_placeholder"))
            span 0/1000
        .comp_tj
            button.ic-btn.i-primary(data-bind="click: feedbackClick") #{i18n.__("Submit")}