extends ./layout.pug
block user-content
    .release 
        .release_nav 
            a(href="#").active 设备
        ul.release_content
            each item,index in deviceLists
                li.card-I(class = index % 2 == 0 ? 'second' : '')
                    .cont_f1
                        .cont_f1_img 
                            img(src="/img/product/product_1.jpg")
                        .cont_f1_text
                            .f1_name=item.name
                            p
                                label 系统：
                                span Android 6.23
                            p
                                label 设备编号：
                                span 1578698
                            p
                                label 数量：
                                span 157
                            p
                                label 提交日期：
                                span 2018.04.03
                    .cont_f2 样例完整度
                    .cont_f3
                    .scheduleX(data-progress="90")
                    .cont_f4
                        span.cont_f4_o 智能穿戴
                        span IT科技
                    .cont_f5
                        .good
                            i.icon-light-star
                            i.icon-gray-star
                            i.icon-gray-star
                            i.icon-gray-star
                            i.icon-gray-star
                        .down
                            i.icon-download
                            span 20
                        .look
                            i.icon-eye
                            span 20
                        .del 
                            a(href="#") 删除    
                        .compile
                            a(href="#") 编辑
            li.plus
                i
                span