.user-nav
    ul
        li 
            if currentpage == 'release'
                a.active(href="/user/release") 我的发布
            else
                a(href="/user/release") 我的发布
        li 
            if currentpage == 'collect'
                a.active(href="/user/collect") 我的收藏
            else
                a(href="/user/collect") 我的收藏
        li 
            if currentpage == 'message'
                a.active(href="/user/message") 消息中心
            else
                a(href="/user/message") 消息中心
        li 
            if currentpage == 'comp'
                a.active(href="/user/comp") 投诉与反馈
            else
                a(href="/user/comp") 投诉与反馈
        li 
            if currentpage == 'account'
                a.active(href="/user/account") 账号设置
            else
                a(href="/user/account") 账号设置