.user-header
    .header-photo.icon-1x5
        span.path1
        span.path2
    .header-name 
        div
            b 坏品位
            a(href="#")
                span.icon-uniE916 企业认证
            a.high_rz(href="#")
                span.icon-uniE916 企业认证
        div
            label 发布设备数：
            span 12
        div
            label 获赞数：
            span 10k
        