.user-header
    .header-photo.icon-people
        span.path1
        span.path2
        //- img(src="/img/product/product_1.jpg")
    .header-name 
        .header-name_o
            b #{userinfo.nickname}
            //- a(href="#")
            //-     span.icon-member 企业认证
            //- a.high_rz(href="#")
            //-     span.icon-member 企业认证
        .header-name_t
            label #{i18n.__("Number of launched devices")}：
            span 12
        .header-name_h
            label #{i18n.__("Number of launched praise")}：
            span 10k
        