@import 'imports/variable.less';
@import 'imports/mixins.less';
.section-main{
    width: @mainWidth;
    margin: auto;
    .clearFix();
    .box-two{
        width: 590px;
        border:1px solid #EEEEEE;
        &.box1{
            float: left;
        }
        &.box2{
            float: right;
        }
    }
}
.section-banner{
    background:url("@{imgUrl}img/banner/banner_bg.png") #000 no-repeat center;
    height: 560px;
    padding-top: 121px;
    .section-main{
        height: 394px;
    }
    .viewer-box{
        height: 100%;
        width: 900px;
        overflow: hidden;
        float:left;
        position: relative;
        background: url("@{imgUrl}img/banner/banner1@1x.png") no-repeat center;
    }
    .slide-wrap{
        li{
            position: relative;
        }
    }
    .panel{
        float:right;
        overflow: hidden;
        width: 298px;
        li{
            height: 130px;
            overflow: hidden;
            margin-bottom: 2px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .l-upper{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        .l-tool-bar{
            width:100%;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 55px;
            line-height: 55px;
            padding: 0 10px;
            color: #a5a7ae;
            text-align:right;
            font-size: 12px;
            .item{
                margin-right: 10px;
                i{
                    margin-right: 3px;
                }
            }
            .item2{
                margin-right: 30px;
            }
            .l-main{
                position: relative;
                z-index: 1;
            }
            &:before{
                width:100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                opacity: 0.5;
                content: "";
            }
        }
    }
}
.section-notice{
    &:extend(.section-main);
    margin: 30px auto;
    line-height: 42px;
    .section-main >*{
        margin-right: 4px;
    }
}
.section-equipment-data{
    margin-bottom: 30px;
    .card-H{
        margin-right: 20px;
        float: left;
        &.fourth{
            margin-right: 0;
        }
    }
}
.section-adv{
    position: relative;
    .l-upper{
        width: 100%;
        text-align:  center;
        position: absolute;
        left:0;
        top:0;
        padding-top: 100px;
        p{
            color: #fff;
            margin-bottom: 40px;
            font-size: 24px;
        }
    }
}
.section-equipment{
    margin-top: 60px;
    padding-bottom: 60px;
    .l-toolbar{
        text-align: center;
    }
    .sec-bd{
        padding-bottom: 40px;
        .clearFix();
    }
    .card-I{
        width: 386px;
        margin-right: 21px;
        &.row-right{
            margin-right: 0;
        }
    }
    
}
.section-chart{
    margin-bottom: 50px;
    .box-two{
        height: 382px;
    }
}