
@import 'imports/variable.less';
@import 'imports/mixins.less';
@import 'imports/reset.less';
@import 'imports/global.less';
@import "imports/form.less";
@import "imports/footer.less";

.link{
    color: @baseColor;
    &:hover{
        cursor: pointer;
        color: @baseColor;
    }
}
// 头部
.ly-header{
    height:80px;
    background: @buttonColor;
    .logo{
        float:left;
        padding: 14px 0;
    }
    .logo_gw{
        float:right;
        padding: 10px;
        margin: 17px 0;
        border:1px solid @baseColor;
        color:@baseColor;
    }
    .quit{
        color: @baseColor;
        cursor: pointer;
    }
    .h-info,.h-have{
        float:right;
        padding: 30px;
    }
    .h-have{
        >.z_d{
            color: @baseTextColor;
            >span{
                color: @baseColor;
            }
        }
        >.z_d:hover{
            text-decoration: none;
        }
    }
}

//滑动拼图的修改
.sliderMask{
    border:0 solid @baseColor !important;
}
.slider:hover{
    background:@baseColor !important;
}
div.sliderContainer_success .slider{
    background-color:@baseColor !important;
    border: 1px solid @baseColor !important;
}

img{
    vertical-align: top !important;
}
.ly-main{
    width: 1200px;
    background: #fff;
    margin: 0 auto;
    .clearFix();
    min-height: 550px;
}
.ly-body{
    position: relative;
    z-index: 1;
    margin-bottom: 414px;
    min-height: ~"calc(100vh - 81px)";
    background: #fff;
}
.ly-header{
    border-bottom: 1px solid #F1F1F1;
    // box-shadow: 0 0 20px 2px #F1F1F1;
    position: relative;
    z-index: 3;
    .logo{
        height:80px;
        line-height: 80px;
        display: inline-block;
        img{
            height:48px;
            position: relative;
        }
    }
    .h-main{
        width: 1200px;
        margin: auto;
    }
}
.login_right_hint{
    height: 30px;
    border:1px solid #FFBAB8;
    background:#FFE7E6; 
    margin-bottom: 10px;
    font-size: 14px;
    color: #FF5F58;
    display: flex;
    align-items: center;
    span:first-child{
        width: 20px;
        height: 20px;
        margin: 0 7px 0 12px;
    }
}
.login_right_w{
    width: 372px;
    margin:0 auto 14px;
}


// .xxx{
//     &:extend(.login_right_hint all);
//     height: 400px;
// }
.i-step{
    // display: flex;
    // justify-content: center;
    // width: 100%;
    text-align: center;
    .active, .finish{  //高亮
        color:@baseColor;
        >b{
            background: @baseColor;
        }
        >span{
            border:1px solid @baseColor;
        }
    }
    >div{
        // display: flex;
        // align-items: center;
        display: inline-block;
        color: @inputTextColor;
        >b{
            display:inline-block;
            width: 60px;
            border-bottom: 1px dotted @inputBorderColor;
            margin: 5px 12px;
        }
        >span{
            display:inline-block;
            width:22px;
            height:22px;
            line-height: 18px;
            border-radius: 50%;
            border:1px solid @inputTextColor;
            text-align:center;
            box-sizing: border-box;
        }
        >label{
            display:inline-block;
            padding-left: 10px;
            margin-bottom:0;
        }
        
    }
}
.register_cont_number{
    margin-bottom: 20px;
    input{
        .w-h();
        border: 1px solid @inputBorderColor;
        border-radius: 6px;
        font-size: 14px;
        padding-left: 14px;
        box-sizing: border-box;
    }
}

.register_cont_click{
    >button{
        .w-h();
        border: 1px solid @baseColor;
        border-radius: 6px;
        background: #fff;
        font-size: 16px;
        color: @baseColor;
        outline: none;
    }
}
.register_cont_click_yz{
    .click_yz_yz{
        display: flex;
        justify-content: center;
        >div:first-child{
            input{
                width:242px;
                height: 40px;
                border-radius:6px;
                padding-left: 12px;
                box-sizing: border-box;
                font-size: 14px;
                border: 1px solid @inputBorderColor;
            }
        }
        >div:last-child{
            margin-left: 10px;
            >button{
                width:120px;
                height: 40px;
                border-radius:20px;
                background: #fff;
                border: 1px solid @inputBorderColor;
                color: @inputBorderColor;
                outline: none;
                font-size: 14px;
            }
            >.click_yz_cx{
                border: 1px solid @baseColor;
                color: @baseColor;
            }
        }
       
    }
   
    .click_yz_text{
        font-size: 12px;
        color:@inputBorderColor;
        margin-top: 10px; 
    }
}
.register_cont_pw{   //输入密码
    >p:nth-child(3){
        padding-top: 20px;
    }
    >p{
        text-align: center;
        margin-bottom: 0;
        >input{
            .w-h();
            border-radius: 6px;
            padding-left: 14px;
            font-size: 14px;
            box-sizing: border-box;
        }
    }   
}  
//注册完成
.register_cont_wc{
    >div:first-child{
        margin-bottom: 20px;
        >img{
            width: 80px;
            height: 80px;
        }
    }
    >div:nth-child{
        font-size: 24px;
        color: @fsColor;
    }
}
// 下一步按钮
.i-button{
    margin: 40px auto 0 !important;
    border:none !important;
    color:#fff !important;
    .w-h();
    font-size: 16px !important;
    text-align: center !important;
    background: @baseColor !important;
    border-radius:24px !important;
    outline: none !important;
    &:active,&:focus{
        outline: none;
    }
    >a{
        color: @buttonColor;
        line-height: 40px;
        text-decoration: none;
    }
}
.ly-root{
    .snotifyToast__inner{
        min-height: 70px;
    }
    .snotify-icon{
        max-height: 42px;
        background-repeat: no-repeat;
    }
}
@import "register.less";
@import "retrieve.less";
@import "articles.less";