doctype html
html
  head
    title IONPartnership
    include ../includes/head-insert.pug
    block previte-head
  body.root-scope#root-scope
    include ../includes/header.pug
    .ly-body.js-body
      block content
    include ../includes/footer.pug
    include ../includes/body-append.pug