doctype html
html
  head
    title My Site
    include ../includes/head-css-script.pug
    block previte-head
  body
    include ../includes/header.pug
    .ly-body
      block content
    include ../includes/footer.pug